<style>
.footer {
  background-color: #333;
  color: #fff;
  font-family: 'Segoe UI', sans-serif;
  padding: 50px 20px 20px;
}

.footer-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 40px;
  max-width: 1200px;
  margin: auto;
}

.footer h2 {
  font-size: 1.8rem;
  margin-bottom: 10px;
}

.footer-brand img{
  filter: brightness(0) invert(1);
}

.footer p {
  font-size: 1rem;
  font-weight: 500;
  color: #bbb;
}

.footer-links ul {
  list-style: none;
  padding: 0;
}

.footer-links ul li {
  margin-bottom: 10px;
}

.footer-links a {
  text-decoration: none;
  color: #bbb;
  transition: color 0.3s;
}

.footer-links a:hover {
  color: #fff;
}


.footer-socials a {
  color: #bbb;
  margin-right: 15px;
  font-size: 1.3rem;
  transition: color 0.3s, transform 0.3s;
}

.footer-socials a:hover {
  color: #fff;;
  transform: scale(1.2);
}

.footer-bottom {
  text-align: center;
  margin-top: 30px;
  border-top: 1px solid #bbb;
  padding-top: 15px;
  font-size: 0.8rem;
  color: #bbb;
}

</style>


<footer class="footer mt-5">
  <div class="footer-container">
    <div class="footer-brand">
      <img src="/assets/Apna_Stay-logo.png" alt="ApnaStay Logo" height="60">
      <p>Connecting travelers with the best stays across the country. Your comfort and safety are our top priority.</p>
    </div>

    <div class="footer-links">
      <h3>Quick Links</h3>
      <ul>
        <li><a href="/listings">Explore</a></li>
        <li><a href="/listings/new">Host Your Idea</a></li>
        <li><a href="/login">Login</a></li>
        <li><a href="/signup">Signup</a></li>
      </ul>
    </div>

  
    <div class="footer-socials">
      <h3>Follow Us</h3>
      <a href="#"><i class="fa-brands fa-linkedin"></i></a>
      <a href="#"><i class="fa-brands fa-github"></i></a>
      <a href="#"><i class="fa-brands fa-linkedin-in"></i></a>
    </div>
  </div>

  <div class="footer-bottom">
    &copy; 2025 ApnaStay Private Limited. All Rights Reserved.
  </div>
</footer>
