<nav class="navbar navbar-expand-md bg-body-light border-bottom sticky-top">
  <div class="container"> 
    <a href="/listings"><img src="/assets/Apna_Stay-logo.png" alt="ApnaStay Logo" height="60"></a>

   
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>

    
    <div class="collapse navbar-collapse" id="navbarNav">

      <form class="d-flex me-auto ms-5 d-none d-md-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search destinations" style="border: 100px; border: 1px solid #343a40;"/>
        <button class="btn btn-outline-dark" type="submit" style="border-radius: 25px; padding: 0 1rem 0 1rem;"><i class="fa-solid fa-magnifying-glass" style="display: inline; margin-right: 0.5rem;"></i>Search</button>
      </form>

      
      <ul class="navbar-nav ms-auto">

        <li class="nav-item">
          <a class="nav-link ms-3" href="/listings">Explore</a>
        </li>   
        <li class="nav-item">
          <a class="nav-link ms-3" href="/listings/new">Become a Host</a>
        </li>  

        <% if(!currUser) { %>
          <li class="nav-item ms-3">
            <a class="btn btn-outline-dark px-4" href="/login"><b>Login</b></a>
          </li> &nbsp; &nbsp; 
          <li class="nav-item ms-3">
            <a class="btn btn-dark px-4" href="/signup"><b>Signup</b></a>
          </li>
        <% } %>

        <% if(currUser) { %>
          <li class="nav-item ms-2">
            <a class="btn btn-outline-dark px-3" href="/logout">Logout</a>
          </li>
        <% } %>

      </ul>
    </div>
  </div>
</nav>





